/* Selector de atribtuos */


/* [class~="verde"]{
    color: green;
} */


/* selectores combinadores */


/* Selector de hermano adyacente */


/*Selecciona al hermano que este justo debajo de el. El estilo se aplica al hermano inferior*/

h1+h2 {
    color: red;
}

h2+h2 {
    color: blue;
}


/* Selector de hermano general */


/*Selecciona a todos hermanos que esten por debajo de el. El estilo se aplica a todos los hermanos*/

h1~h3 {
    color: green;
}


/*Selectores descendentes*/

p span {
    color: royalblue;
    font-weight: bold;
}


/*Selector de todos los hijos*/

div span {
    color: red;
}


/*Selector de hijo directo*/

p>span {
    color: salmon;
}